.order {
	padding: 40px;
	margin: 20px;
	background-color: white;
	border: 1px solid lightgray;
	position: relative;
}

.order__id {
	position: absolute;
	top: 40px;
	right: 20px;
	background-color: rgb(152, 248, 152);
	padding: 2px 4px 2px 4px;
}

.order__total {
	font-weight: 700;
	text-decoration: underline;
	text-align: right;
}
